<app-confirmation-alert [message]="error" *ngIf="error" (close)="onCancalLogout()" (confirm)="onConfirmLogout()">
</app-confirmation-alert>
<div #backdrop class="backdrop" (click)="onCloseMobileMenu(mainNav, backdrop)"></div>
<header class="main-header">
    <button class="toggle-button" (click)="onOpenMobileMenu(mainNav, backdrop)">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
    </button>
    <nav #mainNav class="main-nav" (click)="onCloseMobileMenu(mainNav, backdrop)">
        <ul class="main-nav_items">
            <!-- <li role="presentation" routerLinkActive="active"><a routerLink="">Home</a></li> -->
            <li class="main-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/recipes">Recipes</a></li>
            <li class="main-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/profile">Profile</a></li>
            <li class="main-nav_item" role="presentation" routerLinkActive="active" *ngIf="!isAuth"><a
                    routerLink="/auth">Authentication</a></li>
            <li class="main-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/shopping-list">Shopping List</a>
            </li>
            <li class="main-nav_item" role="presentation" *ngIf="isAuth"><a (click)="onLogout()">Logout</a></li>
        </ul>
    </nav>
    <nav class="desktop-nav">
        <ul class="desktop-nav_items">
            <!-- <li role="presentation" routerLinkActive="active"><a routerLink="">Home</a></li> -->
            <li class="desktop-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/recipes">Recipes</a></li>
            <li class="desktop-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/profile">Profile</a></li>
            <li class="desktop-nav_item" role="presentation" routerLinkActive="active" *ngIf="!isAuth"><a
                    routerLink="/auth">Authentication</a></li>
            <li class="desktop-nav_item" role="presentation" routerLinkActive="active" *ngIf="isAuth"><a
                    routerLink="/shopping-list">Shopping List</a>
            </li>
            <li class="desktop-nav_item" role="presentation" *ngIf="isAuth"><a (click)="onLogout()">Logout</a></li>
        </ul>
    </nav>
</header>