<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                <button (click)="onCancal()" type="button" class="btn btn-danger">Cancel</button>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Your recipe name">
                    </div>
                </div>
            </div>
            <span  *ngIf="name.touched && !recipeForm.controls.name.valid">
                Recipe name must be max 30 symbols and can't be empty
              </span>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input #imagePath type="text" id="imagePath" class="form-control" formControlName="imagePath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src={{imagePath.value}} alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows=3
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="prepTime">Prep Time</label>
                    <input type="number" id="prepTime" class="form-control" formControlName="prepTime">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="cookTime">Cook Time</label>
                    <input type="number" id="cookTime" class="form-control" formControlName="cookTime">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="serves">Serves</label>
                    <input type="number" id="serves" class="form-control" formControlName="serves">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="difficulty">Difficulty</label>
                    <select class="form-control" name="difficulty" id="difficulty" formControlName="difficulty">
                        <option *ngFor="let difficulty of difficultys" value="{{ difficulty }}">{{ difficulty }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Steps for preparing the dish</h3>
                    <span  *ngIf="steps.status == 'INVALID'">
                        The recipe must have at least one step
                      </span>
                </div>
            </div>
            <div formArrayName="steps">
                <div class="row" *ngFor="let stepCtrl of steps.controls; let s = index" [formGroupName]="s">
                    <div class="col-xs-11">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" formControlName="title">
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-danger" type="button" (click)="onDeleteStep(s)">X</button>
                    </div>
                    <div class="col-xs-12">
                        <label for="content">Content</label>
                        <textarea type="text" id="content" class="form-control" rows=3
                            formControlName="content"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs 12">
                    <button class="btn btn-success" type='button' (click)="onAddStep()">Add
                        Step</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Steps for preparing the dish</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div *ngIf="isHaveIngredients()" class="row heading-ingredients">
                        <div class="col-xs-5">
                            <p>Ingredients</p>
                        </div>
                        <div class="col-xs-3">
                            <p>amount</p>
                        </div>
                        <div class="col-xs-3">
                            <p>type</p>
                        </div>
                    </div>
                    <div class="row ingr" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
                        <div class="col-xs-5">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-3">
                            <input type="number" class="form-control" formControlName="amaunt">
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" name="type" formControlName="type">
                                <option *ngFor="let typeIng of types" value="{{ typeIng }}">{{ typeIng }}</option>
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs 12">
                            <button class="btn btn-success" type='button' (click)="onAddIngredient()">Add
                                Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>