.heading-ingredients {
  padding-left: 15px;
  padding-right: 15px;
}

.heading-ingredients > div {
  padding: 0;
}

.heading-ingredients > div > p {
  padding: 0 10px;
  font-weight: bold;
}

.amaunt p {
  text-align: right;
}
