.recipe-list__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    app-recipe-item {
        flex: 0 0 100%;
    }

    @media (min-width: 600px) {
        & {
            justify-content: space-between;
        }
        app-recipe-item {
            flex: 0 0 50%;
        }
    }

    @media (min-width: 1000px) {
        & {
            justify-content: space-between;
        }
        app-recipe-item {
            flex: 0 0 33%;
        }
    }
}