<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input #nameInput type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amaunt">Amaunt</label>
                    <input #amauntInput type="number" id="amaunt" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button (click)="addNewIng(nameInput.value,amauntInput.value)" class="btn btn-success" type="button">Add</button>
                    <button (click) = "deleteIng()"  class="btn btn-danger" type="button">Delete</button>
                    <button (click) = "clearShoppingList()"  class="btn btn-primary" type="submit">Cleare</button>
                </div>
            </div>
        </form>
    </div>
</div>